<div class="Project">

	<div id="Header">

		<div id="Logo">
			<img src="/logo2.jpg", alt="Can't load image" />
		</div>

		<div id="Menu">
			<ul>
				<li>
					Strona glowna
				</li>
				<li>
					Nowosci
				</li>
				<li>
					Produkty
				</li>
				<li>
					Informacje
				</li>
			</ul>
		</div>

	</div>

	<div id="Content">

		<div id="LeftSide">

			Kategorie:
		</div>
		<div id="Parent">
			<div id="Front">
			
				<form id="Search">
				</br>
						Wyszukiwanie produktow:
					<p>
						<input type="text" name="searching">
					</br>
					</br>
						<input type="submit" value="Szukaj" %>
					</p>
			</form>
		
			</div>
			<div id="Front2">
						</br>
				Nowe produkty:
			</div>
		</div>
	</div>

	<div id="Footer">
			Infolinia: 987 654 321 |
			e-mail: e-sklep@info.pl |
			pon-pt:10.00-20.00
	</div>
</div>
